<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title>simpleblog</title>
</head>
<body>
<header>
    <nav class="navbar">
        <% if (username != ""){ %>
            <span> Loggedin as: <%= username; %></span>
            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        <% }else{ %>
            <form action="/login" method="POST">
                <input name="username" type="text" placeholder="username">
                <input name="password" type="text" placeholder="password">
                <button type="submit">Login</button>
            </form>
        <% } %>
    </nav>
</header>
<div class="posts-container">
    <div class="post-form">
        <form action="/post/new" method="POST">
            <input name="content" type="text" placeholder="Add your post">
            <button type="submit">Submit</button>
        </form>
    </div>
    <% for (let i = 0; i < posts.length; i++) { %>
        <div class="post">
            <% let post = posts[i]; %>
            <% const comment_postID = post.postID; %>
            <div class="post-content">
            <span>
            <%= post.username; %>:
            </span>
                <span>
            <%= post.content; %>
            </span>
            </div>
            <% let comments = post.comments %>
            <% for (let i = 0; i < comments.length; i++) { %>
                <% let comment = comments[i] %>
                <div class="comment-content">
                <span>
                <%= comment.username %>:
            </span>
                    <span>
                <%- comment.content; %>
                </span>
                </div>
            <% } %>
            <div class="comment-form">
                <form action="/comment/new" method="POST">
                    <input name="comment_postID" type="hidden" value="<%= `${comment_postID}` %>">
                    <input name="content" type="text" placeholder="Add your comment">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    <% } %>

</div>


</body>
</html>